    body {
        background-color: lightgray;
    }
    
    .divHeading {
        background-color: grey;
        color: white;
    }
    
    .divHeading h3 {
        font-family: 'Architects Daughter', cursive;
        letter-spacing: 10px;
    }
    
    #btnStart {
        margin-top: 15px;
        border: 1px solid;
        letter-spacing: 5px;
        font-weight: bolder;
    }
    
    .copyRightFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 18px;
        color: gray;
        background-color: white;
        text-align: center;
        line-height: 3;
        text-shadow: 5px 5px 5px rgb(160, 149, 149);
    }